

<style>

</style>

<main class="main">
  <div>
    <h1>Angular Interval API Call Example</h1>
    <button (click)="startApiCalls()">Start API Calls</button>

    <input type="text" [(ngModel)]="url" placeholder="Url for api" />
    <input type="text" [(ngModel)]="cookie" placeholder="Cookie for api" />
    <button (click)="saveToLocalStorage()">Save</button>
  </div>
  <div>
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'460px'}"></canvasjs-chart>
  </div>





</main>



<router-outlet />
