

<style>

</style>

<main class="main">
  <div>
    <h1>Solar Help</h1>
    <input  type="text" [(ngModel)]="url" placeholder="Url for login" />
    <input type="text" [(ngModel)]="user" placeholder="User for api" />
    <input type="password" [(ngModel)]="password" placeholder="Password for api" />
    <button (click)="saveToLocalStorage()">Save</button>
  </div>

  <div>

  </div>
  <div>
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'460px'}"></canvasjs-chart>
  </div>





</main>



<router-outlet />
